DOMAIN_NAME=kapinarc.42.fr

# MARIADB
MYSQL_ROOT_PASSWORD=password123
MYSQL_DATABASE=wordpress
MYSQL_USER=kapinarc
MYSQL_PASSWORD=userpassword123

# WORDPRESS
WP_TITLE=Inception
WP_ADMIN_USER=example_author
WP_ADMIN_PASSWORD=example_1234
WP_ADMIN_EMAIL=example@student.42.fr
WP_USER=author_example
WP_USER_PASSWORD=example_user1234
WP_USER_EMAIL=user@student.42.fr